.panda-color{
    background-color: #FEEAE9;
}
.Categories img{
    width: 100;
}
.panda-btn{
    color: #FEEAE9;
    border-radius: 8px;
    padding: 9px 20px;
    border: none;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.color{
    color: #FF589B;
}